export const nodeEnv = "dev";

export const httpPort = 5000;

export const basePath = "/nest-js";

export const corsAllow = [
    "http://192.168.1.2:3001",
];

export const logPath = "log";

export const dbConfig = {
    host: "127.0.0.1",
    port: 5432,
    username: "postgres",
    password: "postgres",
    database: "postgres",
};
